@import './resets';
@import './variables';
@import './functions';
@import './mixins';

body {
	font-size: $font-size;
}

header {
	background: url("../src/img/bg-pattern-intro.svg");
	background-repeat: no-repeat;
	box-shadow:inset 0 0 0 2000px rgba($very-light-red-color, 0.9);
	background-position: center;
	overflow: hidden;
	border-radius: 0 0 0 60px;
	//filter: contrast(0.5);
	min-height: 40vh;
	color: $white-color;
	padding: 2em 5em 5em;
	font-family: "Ubuntu-Regular";
}

nav {
	min-height: 10vh;
	display: flex;
	justify-content: space-between;
}

.navbar_left, .navbar_right {
	display: flex;
	align-items: center;

	.product-dropdown,
	.company-dropdown,
	.connect-dropdown {
		display: none;
		height: 0;
	}
}

.navbar_left {
	width: 35vw;
	justify-content: space-between;

	&__logo {
		color: $white-color;
		font-size: 2.1em;
		margin-right: 2em;
	}
	
	& button {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
		margin-right: 1em;
		font-size: 0.8em;
	
		&::after {
			content:url("../src/img/icon-arrow-light.svg");
			transform: rotate(90deg);
		}
	}
}

.navbar_right {
	width: 20%;
	justify-content: space-around;

	& li {
		font-size: 0.8em;

		& .signup {
			width: 215px;
		    height: 25px;
		    padding: 10px 20px;
		    text-align: center;
		    font-weight: bold;
		    border-radius: 25px;
		    border: 2px solid $white-color;
		    background: $white-color;
			color: $light-red-color;
		}
	}
}

.hero {
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& h1 {
		font-size: 3em;
		margin: 10px;
	}

	& p {
		font-size: 0.8em;
		margin: 10px;
	}

	& ul {
		display: flex;
		flex-direction: row;
		margin-top: 40px;

		& .start-button,
		& .learn-button {
			width: 115px;
		    height: 25px;
		    margin: 20px;
		    padding: 10px 15px;
		    text-align: center;
		    font-weight: bold;
		    border-radius: 25px;
		    border: 2px solid $white-color;
		}

		& .start-button {
		    background: $white-color;
		    color: $light-red-color;
		}

		& .learn-button {
		    color: $white-color;
		}
	}
}

.first-part {
	padding: 5em;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url("../src/img/illustration-editor-desktop.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 60vw;
	font-family: "Overpass-Light";

	& h2 {
		font-family: "Overpass-Bold";
		font-size: 2.4em;
		margin-bottom: 4vh;
	}

	&__bloc {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;

		&__container {
			width: 600px;
			display: flex;
			flex-direction: column;

			& h3 {
				font-family: "Overpass-Bold"; 
				font-size: 1.8em;
				margin-bottom: 2vh;
			}

			& p {
				margin-bottom: 4vh;
				font-size: 0.8em;
			}
		}
	}
}

.second-part {
	height: 40vh;
	border-radius: 0 60px 0 60px;
	background: url("../src/img/bg-pattern-circles.svg");
	background-repeat: no-repeat;
	background-position: bottom -160px left -160px;
	box-shadow:inset 0 0 0 2000px rgba($very-dark-desaturated-blue, 0.9);
	filter: contrast(1.5);
	color: $white-color;
	display: flex;
	flex-direction: row;
	justify-content: center;

	&__image-container {
		width: 50vw;

		& img {
			position: relative;
			top: -7vh;
			left: 5vw;
			width: 70%;
			height: auto;
		}
	}

	&__text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		width: 50vw;

		& h3 {
			font-family: "Overpass-Bold"; 
			font-size: 1.8em;
			width: 30vw;
			margin-bottom: 2vh;
		}

		& p {
			font-family: "Overpass-Light";
			width: 30vw;
			font-size: 0.8em;
		}
	}
}

.third-part {
	min-height: 90vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: url("../src/img/illustration-laptop-desktop.svg");
	background-repeat: no-repeat;
	background-position: -10vw;
	background-size: 50vw;

	&__container {
		width: 50vw;
		display: flex;
		flex-direction: column;
		justify-content: center;

		& h3 {
			font-family: "Overpass-Bold"; 
			font-size: 1.8em;
			width: 30vw;
			margin-bottom: 2vh;
		}

		& p {
			font-family: "Overpass-Light";
			width: 30vw;
			margin-bottom: 4vh;
			font-size: 0.8em;
		}
	}
}

footer {
	padding: 2em 5em 5em;
	min-height: 17vh;
	background: $very-dark-gray-blue;
	border-radius: 0 60px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-family: "Ubuntu-Regular";
	
	.container {
		width: 80vw;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 3vh;
	}
	& a {
		color: $white-color;
		font-size: 0.8em;
	}

	& li {
		margin-bottom: 1em;
	}

	& .first {
		font-family: "Ubuntu-Bold";
		margin-bottom: 3em;
	}

	& .logo {
		font-size: 2em;
	}

	.attribution {
		position: relative;
		bottom: -40px;
	    font-size: 11px;
	    text-align: center;
	    align-self: center;
	}

	.attribution a {
	    color: hsl(228, 45%, 44%);
	}
}
